/node_modules
/.tmp
/.sass-cache
/bower_components
/build
/dist
/src/bower
/src/views/**/*.html
/src/components/*.html
/src/css/*.css
src/index.html
/src/**/*templates.js
/fb-functions/functions/node_modules/
*.log
*.bjs
/src/configs/**/*.html
/src/configs/*.css
/fb-functions/functions/project.json
lib-cache/
dist/
src/project-secrets.json
src/project-secrets.bak.json
src/project-secrets-open.json

# psm
.gitpsm/
psm.sh

packages/*