style.
	@media screen and (max-width: 599px){ 	}

.inlineController.content-page(ng-controller="inlineController", layout="column", layout-align="start start").padding
	
	h3 
		span.icon-inline.icon-embed2 
		span libx.liv.tools
	p coming soon ...
	.md-display-1.fg-blue blue
	
	br
	
	a(href="/test/") Page II

script.
	bundular.lazy.controller('inlineController', function ($scope, $rootScope, $controller, $timeout, $interval, $routeParams) {
		angular.extend(this, $controller('inlineControllerBase', {$scope: $scope}));
		
		libx.log.v('view:main');

		$rootScope.layout.title = "Libx";
	});
	libx.log.v('view:main2');
