style.
	@media screen and (max-width: 599px){ 	}

.inlineController.content-page(ng-controller="inlineController", layout="column", layout-align="start start").padding
	
	a.md-display-1(href="/") Base {{num}}

	h1.fill(inline-edit="frm.myEditableLabel",inline-edit-btn-edit="",inline-edit-placeholder="This is editiable label. Edit me!",inline-edit-on-blur="save",inline-edit-on-click,inline-edit-callback="formChanged(v)")
	br
	h2.fill(inline-edit="frm.myEditableText",inline-edit-btn-edit="",inline-edit-btn-save="save",inline-edit-placeholder="This is editiable textarea",inline-edit-on-blur="save",inline-edit-on-click,inline-edit-callback="formChanged(v)",inline-edit-textarea)

	my-widget(text="'Textyy'")
		h3 Hey h3

	div.huge-x2.fg-myPrimary.icon-account_circle

	my-loader

	md-content(md-theme='docs-dark', layout-gt-sm='row', layout-padding='')
		div
			md-input-container
				label Title
				input(ng-model='user.title')
			md-input-container
				label Email
				input(ng-model='user.email', type='email')


	div#sub(ng-sub-app="sub")
		div(ng-controller="test1")
			div {{testy}}

			h1.fill(inline-edit="frm.myEditableLabel",inline-edit-btn-edit="",inline-edit-placeholder="This is editiable label. Edit me!",inline-edit-on-blur="save",inline-edit-on-click,inline-edit-callback="formChanged(v)")
			br
			h2.fill(inline-edit="frm.myEditableText",inline-edit-btn-edit="",inline-edit-btn-save="save",inline-edit-placeholder="This is editiable textarea",inline-edit-on-blur="save",inline-edit-on-click,inline-edit-callback="formChanged(v)",inline-edit-textarea)


script.
	bundular.lazy.controller('inlineController', function ($scope, $rootScope, $controller, $timeout, $interval, $routeParams) {
		angular.extend(this, $controller('inlineControllerBase', {$scope: $scope}));

		$scope.num = 17;

		$rootScope.layout.title = 'test page';

		

	});


	// app.sub = angular.bootstrap(document.getElementById("sub"), []);
	app.sub = angular.module('sub', ["myApp", "angularInlineEdit"]) //, 'angular-google-analytics']);
	// bundular.applyLazy(app.sub);

	//- angular.element(document).ready(function() {
	//- 	angular.bootstrap(document.getElementById("sub"), ["sub"]);
	//- });   

	app.sub.config(()=> {
		console.log('--- SUB MODULE')
	})

	app.sub.controller('test1', ($scope)=> {
		console.log('---!! test!!!');
		$scope.testy = 123;
	})
