.spinner
	svg(viewBox='0 0 66 66')
		circle.length(fill='none', stroke-width='8', stroke-linecap='round', cx='33', cy='33', r='28')
	svg(viewBox='0 0 66 66')
		circle(fill='none', stroke-width='8', stroke-linecap='round', cx='33', cy='33', r='28')
	svg(viewBox='0 0 66 66')
		circle(fill='none', stroke-width='8', stroke-linecap='round', cx='33', cy='33', r='28')
	svg(viewBox='0 0 66 66')
		circle(fill='none', stroke-width='8', stroke-linecap='round', cx='33', cy='33', r='28')

h2 my-loader